* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html, body {
    width: 100%;
    height: 100vh;
    background-color: #eee;
    font-family: 'poppins', sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 80%;
    margin: 40px 160px;
    z-index: 1;
}

.logo, .search {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}

.search {
    padding: 10px 50px;
}


/* Images */
.images {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    z-index: 1;
}

.img {
    cursor: pointer;
    margin: 50px;
    width: 140px;
    height: 300px;
}

.images .img:hover{
    filter: grayscale(1);
    transition: all .8s;
}

.img-1 {
    transform: scale(1.1);
    background: url(1.png) 50% 50% no-repeat;
    background-size: cover;
}

.img-2 {
    transform: scale(1.4);
    background: url(2.png) 50% 50% no-repeat;
    background-size: cover;
}

.img-3 {
    transform: scale(1.1);
    background: url(3.png) 50% 50% no-repeat;
    background-size: cover;
}

.img-4 {
    transform: scale(1.4);
    background: url(4.png) 50% 50% no-repeat;
    background-size: cover;
}

.img-5 {
    transform: scale(1.1);
    background: url(5.png) 50% 50% no-repeat;
    background-size: cover;
}


/* Titles */
.title span {
    font-size: 150px;
    text-transform: uppercase;
    color: #eee;
    top: 40%;
    position: absolute;
    left: 170px;
    letter-spacing: 50px;
    font-weight: bolder;
    z-index: 2;
}

.side-icon {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    font-size: 40px;
    top: 45%;
}

.bottom-bar {
    width: 100%;
    bottom: 40px;
    margin: 20px auto;
    position: absolute;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
    color: #171717;
    letter-spacing: 4px;
}