* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html,
body {
  width: 100%;
  height: 100vh;
  background-color: #c4c4c4;
  font-family: "poppins", sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 80%;
  margin: 40px 160px;
  z-index: 1;
}

.logo,
.search {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}

.search {
  width: auto;
}

/* Images */
.images {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  display: flex;
  z-index: 1;
}

.img {
  cursor: pointer;
  margin: 50px;
  width: 140px;
  height: 300px;
}

.images .img:hover {
  filter: grayscale(1);
  transition: all 0.8s;
}

.img-1 {
  transform: scale(1.1);
  background-size: cover;
}

.img-2 {
  transform: scale(1.4);
  background-size: cover;
}

.img-3 {
  transform: scale(1.1);
  background-size: cover;
}

.img-4 {
  transform: scale(1.4);
  background-size: cover;
}

.img-5 {
  transform: scale(1.1);
  background-size: cover;
}

/* Titles */
.title span {
  font-size: 110px;
  text-transform: uppercase;
  color: #eee;
  top: 40%;
  position: fixed;
  left: 170px;
  letter-spacing: 50px;
  font-weight: bolder;
  z-index: 2;
}

.side-icon {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px;
  font-size: 40px;
  top: 45%;
}

.bottom-bar {
  width: 100%;
  bottom: 40px;
  margin: 20px auto;
  position: absolute;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
  color: #171717;
  letter-spacing: 4px;
}

/* Social Medias */
.media ul {
  list-style: none;
  right: 40px;
  top: 65%;
  padding: 10px;
  position: fixed;
}

.media ul li {
  font-size: 20px;
  margin: 24px 0;
}
