.project-9 {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #161616;
  font-family: "agency fb";
  overflow: hidden;
}

.project-9 .stripes {
  position: fixed;
  width: 100%;
}

.project-9 .one {
  position: absolute;
  width: 0.5px;
  height: 100vh;
  background: #555555;
  left: 4%;
}

.project-9 .two {
  position: absolute;
  width: 0.5px;
  height: 100vh;
  background: #555555;
  left: 50%;
}

.project-9 .three {
  position: absolute;
  width: 0.5px;
  height: 100vh;
  background: #555555;
  left: 96%;
}

.project-9 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
}

.project-9 .bg-text h1 {
  font-size: 300px;
  font-family: "poppins", sans-serif;
  text-align: center;
  color: transparent;
  letter-spacing: 80px;
  -webkit-text-stroke: 3px #444;
  text-transform: uppercase;
}

.project-9 .img img {
  width: 67%;
  /* opacity: 0; */
}

.project-9 .img {
  position: fixed;
  z-index: 1;
  top: 23%;
  right: 556px;
}

.project-9 .img::after {
  background: rgba(22, 22, 22, 0.4);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.project-9 .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 30px;
  text-transform: uppercase;
  color: #fff;
}

.project-9 .navbar .media li {
  display: inline-block;
  padding-left: 30px;
}

.project-9 .navbar .media li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.project-9 .navbar .menu i {
  padding-right: 20px;
}

.project-9 .blocks {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-size: 140px;
  color: #fff;
  font-weight: 600;
  color: #fff;
  z-index: 1;
}

.project-9 .block-1,
.project-9 .block-4 {
  color: #0077b6;
  z-index: 1 d DZ;
}
