@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Poppins:ital,wght@0,200;0,600;0,900;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: 'poppins', sans-serif;
    background-color: #eee;
}

/* Navbar */
.navbar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    color: #666;
}

.navbar .logo {
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 100px;
}

.navbar .categories {
    position: relative;
    right: -400px;
    margin-right: auto;
}

.navbar .menu {
    font-size: 20px;
    margin-right: -10px;
}

.navbar .categories ul li {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 30px;
}

/* Bottles */
.stripe {
    position: absolute;
    height: 75px;
    bottom: 50%;
    background: linear-gradient(to right, #f13f39, #c22f2a);
}

.coke {
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 1;
}

.coke img {
    transform: translate(-50%, -50%);
    max-height: 700px;
}

.small-cokes {
    position: absolute;
    display: flex;
    left: 85%;
    bottom: 80px;
    transform: translateX(-50%);
    z-index: 1;
}

.small-cokes li {
    display: inline-block;
    margin: 0 -77px;
    list-style: none;
    transition: 0.4s;
    cursor: pointer;
}

.small-cokes li:hover {
    transform: translateY(-10px);
}

.small-cokes li img {
    max-width: 70px;
}

/* Titles */
.texts {
    position: absolute;
    top: 200px;
    left: 600px;
}

.texts h1 {
    position: relative;
    height: 150px;
    width: 900px;
    margin-bottom: 25px;
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;
    color: #666;
}

.texts h1 .header {
    position: absolute;
    bottom: 25px;
}

.texts h2 {
    position: absolute;
    top: 100px;
    left: 80px;
    font-weight: 700;
    font-size: 100px;
    font-family: 'Josefin Sans', sans-serif;
    color: #ddd;
}

.texts p {
    position: relative;
    width: 400px;
    height: 110px;
    font-size: 12px;
    margin-top: 45px;
    margin-left: 50px;
    color: #666;
    font-weight: 600;
}

/* Social Media */
.media {
    position: absolute;
    bottom: 210px;
    left: 40px;
}

.media ul {
    position: absolute;
    list-style: none;
}

.media ul li {
    color: #666;
    padding: 10px 0;
}