.project-7 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: "poppins", sans-serif;
  color: #eee;
  overflow: hidden;
  background-color: #9ba986;
}

/* Navbar */
.project-7 .navbar {
  width: 100%;
  height: 80px;
  position: absolute;
}

.project-7 .logo {
  font-size: 22px;
  margin: 1.5em 2em;
  line-height: 80px;
  position: absolute;
}

.project-7 .menu {
  position: absolute;
  height: 80px;
  right: 120px;
}

.project-7 .menu ul {
  list-style: none;
}

.project-7 .menu ul li {
  display: inline-block;
  margin: 2em 0;
  padding: 0 30px;
  font-size: 15px;
}

.project-7 .cart {
  position: fixed;
  font-size: 20px;
  margin: 1.5em 2em;
  line-height: 80px;
  right: 20px;
}

/* Image */
.project-7 .hero img {
  position: absolute;
  width: 30%;
  left: 20%;
  top: 50px;
  z-index: 2;
}

/* Social Media */
.project-7 .media {
  position: absolute;
  bottom: 220px;
  left: 20px;
}

.project-7 .media ul {
  position: absolute;
  list-style: none;
}

.project-7 .media ul li {
  color: #eee;
  cursor: pointer;
  padding: 10px 20px;
}

/* Others */
.project-7 .blocks {
  display: flex;
  font-size: 240px;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0.671);
  opacity: 0.1;
}

.project-7 .tag-line {
  position: fixed;
  top: 166px;
  left: 152px;
  padding: 10px 30px;
}

.project-7 .year {
  position: fixed;
  top: 556px;
  left: 152px;
  padding: 10px 30px;
  font-weight: bolder;
}

.project-7 .title {
  position: absolute;
  right: 8%;
  bottom: 180px;
  z-index: 2;
  letter-spacing: 50px;
  font-weight: 900;
  font-size: 170px;
  display: flex;
}

.project-7 .content {
  position: absolute;
  top: 75%;
  left: 59%;
  width: 36%;
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 10px;
  z-index: 2;
}

.project-7 button {
  position: relative;
  left: 120px;
  top: 20px;
  margin-top: 6px;
  color: #fff;
  background: #f3ac1d;
  padding: 20px 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 10px;
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

.project-7 button:hover {
  background: #ffff;
  color: black;
}
