.project-15 {
  background-color: #8e72ab;
  overflow: hidden;
  min-height: 100vh;
}

.project-15 h1 {
  position: fixed;
  left: 40%;
  font-size: 25px;
  margin-top: 10px;
}

.project-15 h1:last-child {
  bottom: 0;
  left: 48%;
}

.project-15 .glock {
  position: relative;
  min-height: 200vh;
  left: 35%;
  padding-top: 250px;
  z-index: 1;
}

.project-15 .one,
.project-15 .two,
.project-15 .three {
  position: fixed;
}

.project-15 .three img {
  position: relative;
  width: 350px;
  top: -200px;
  left: 20%;
}

.project-15 .two img {
  position: relative;
  width: 200px;
  top: -20px;
  left: 70%;
  z-index: -1;
}

.project-15 .one img {
  position: relative;
  width: 60px;
  top: 120px;
  left: 355%;
  z-index: -2;
}
